@page "/product-supplies"
@layout MainLayout
@inherits IyaElepoApp.Pages.ProductSuppliesComponent

@using Radzen
@using Radzen.Blazor
@using IyaElepoApp.Models.ConData
@using Microsoft.AspNetCore.Identity;
@using IyaElepoApp.Models
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]


<RadzenContent Container="main">
  <ChildContent>
    <RadzenHeading Size="H1" Text="Product Supplies">
    </RadzenHeading>
    <div class="row">
      <div class="col-md-12">
        <RadzenButton Icon="add_circle_outline" style="margin-bottom: 10px" Text="Add" Click="@Button0Click">
        </RadzenButton>
        <RadzenSplitButton Icon="get_app" style="margin-left: 10px; margin-bottom: 10px" Text="Export" Click="@Splitbutton0Click">
          <ChildContent>
            <RadzenSplitButtonItem Text="Excel" Value="xlsx">
            </RadzenSplitButtonItem>
            <RadzenSplitButtonItem Text="CSV" Value="csv">
            </RadzenSplitButtonItem>
          </ChildContent>
        </RadzenSplitButton>
        <RadzenTextBox Placeholder="Search ..." style="display: block; margin-bottom: 10px; width: 100%" Name="Textbox0" @oninput="@(async(args) => {search = $"{args.Value}";await grid0.GoToPage(0);await Load();})">
        </RadzenTextBox>
        <RadzenDataGrid @ref="grid0" AllowFiltering="true" FilterMode="Radzen.FilterMode.Advanced" AllowPaging="true" AllowSorting="true" Data="@getProductSuppliesResult" TItem="IyaElepoApp.Models.ConData.ProductSupply" RowSelect="@Grid0RowSelect">
          <Columns>
            <RadzenDataGridColumn TItem="IyaElepoApp.Models.ConData.ProductSupply" Property="SupplyID" Title="Supply ID">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="IyaElepoApp.Models.ConData.ProductSupply" Property="SupplyDate" FormatString="{0:dd/MM/yyyy}" Title="Supply Date">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="IyaElepoApp.Models.ConData.ProductSupply" Property="ProductSupplierID" SortProperty="ProductSupplier.ProductSupplierName" GroupProperty="ProductSupplier.ProductSupplierName" FilterProperty="ProductSupplier.ProductSupplierName" Title="Product Supplier">
              <Template Context="data">
              @(data.ProductSupplier?.ProductSupplierName)
              </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="IyaElepoApp.Models.ConData.ProductSupply" Property="ProductID" SortProperty="Product.ProductName" GroupProperty="Product.ProductName" FilterProperty="Product.ProductName" Title="Product">
              <Template Context="data">
              @(data.Product?.ProductName)
              </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="IyaElepoApp.Models.ConData.ProductSupply" Property="QuantityInLitres" Title="Quantity In Litres">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="IyaElepoApp.Models.ConData.ProductSupply" Filterable="false" Sortable="false" Width="70px" TextAlign="TextAlign.Center">
              <Template Context="iyaElepoAppModelsConDataProductSupply">
                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="close" Size="ButtonSize.Small" Click="@((args) =>GridDeleteButtonClick(args, iyaElepoAppModelsConDataProductSupply))" @onclick:stopPropagation="true">
                </RadzenButton>
              </Template>
            </RadzenDataGridColumn>
          </Columns>
        </RadzenDataGrid>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
